spacy==3.6.1
tqdm>=4.26.0
pandas==2.0.3
flair>=0.12.2
flashtext==2.7
strsimpy==0.2.1
scipy==1.11.3
unidecode>=1.0.23
beautifulsoup4==4.6.3
luhn==0.2.0
schwifty==2021.1.0
python-stdnum==1.16
pydantic==2.3.0
jurispacy-tokenizer==1.1.5
aenum==3.1.15